@using System.Security.Claims
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        @if (User.Identity.IsAuthenticated)
        {
        <p>Name: @User.FindFirst(ClaimTypes.Name)?.Value - Role: @User.FindFirst(ClaimTypes.Role)?.Value</p>
        }
        else
        {
        <p>Guest</p>
        }
    </p>
</div>
 