@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">@Model.Title</h1>
<h2 class="text-danger">@Model.Message</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

@if (Model.StatusCode != null)
{
    <p>
        <strong>Status Code:</strong> <code>@Model.StatusCode</code>
    </p>
}

<div class="mt-3">
    <a href="/" class="btn btn-primary">Go to Home Page</a>
</div>
